<!--  <h3>{{welcomeTitle}}</h3>
  <p>{{welcomeMsg}}</p>
-->
<!--
  [(ngModel)] is used for two way biding
-->
<div class="container">
    <section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h2>NOTE: <span  class="red bold">Open Console to see Logger Output</span></h2>
                    <h3 class="brown">Add a Cricketer(Player list will come if added player > 0 )</h3>
                    <form role="form" autocomplete="off">
                        <div class="form-group">
                            <label for="firstName" class="sr-only">First Name</label>
                            <input type="text" [(ngModel)]="firstName" name="firstName" id="firstName" class="form-control" placeholder="FirstName" #first>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="sr-only">Last Name</label>
                            <input type="text" [(ngModel)]="lastName" name="lastName" id="lastName" class="form-control" placeholder="LastName" #last>
                        </div>
                        <div class="form-group">
                            <label for="favShot" class="sr-only">Fav Shot</label>
                            <input type="text" [(ngModel)]="favShot" name="favShot" id="favbeverages" class="form-control" placeholder="Favorite Shot"
                                #shot>
                        </div>
                        <div class="form-group">
                            <label for="batsmanBowler" class="sr-only">Player Type</label>
                            <select class="txt-box" name="playerType" [(ngModel)]="playerTypes" class="form-control" #batBow>
                            <option [value]="playerTypes" [disabled]="true">Select Option </option>
                            <option *ngFor="let player of playerType" [ngValue]="player.type">
                                {{player.type}}
                            </option>
                         </select>
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Add" (click)="addCricketer(firstName,lastName,favShot,playerTypes)">
                    </form>
                    <hr>
                </div>
            </div>
            <!-- /.col-xs-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<div *ngIf="cricketersArray.length > 0">
    <app-cricketer-ass4 [criketerDetail]="cricketersArray"></app-cricketer-ass4>
</div>
</div>